#contact {
    .heading {
        background-color: var(--contact-hero-bg-color);
    }

    .map {
        height: 300px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .wpcf7 {
        form {
            margin: auto;
            padding: 80px;
            font-weight: 300;
            width: 80%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            
            .user-fields {
                display: flex;
                justify-content: space-between;
                gap: 10px;

                label {
                    width: 100%;
                }
            }
            
            input, textarea {
                font-family: inherit;
                font-size: 1.1rem;
                font-weight: inherit;
                padding: 10px;
                border: 1px solid var(--border-color);
                width: 100%;
                border-radius: 5px;
                color: var(--contact-form-text-color);
                margin: 5px auto;

                &[type='submit'] {
                    font-weight: 400;
                    background-color: var(--zayshop);
                    color: var(--contact-form-submit-text-color);
                    border: 0;
                    width: auto;
                    float: right;
                }
            }
        }

        @media (max-width: 768px) {
            form {
                padding: 20px 0;

                .user-fields {
                    display: block;
                }
            }
        }
    }
}