header {
    position: relative;
    box-shadow: 0 4px 20px 0 rgba($color: #000000, $alpha: 0.25);
    
    .top-bar {
        background-color: var(--topbar-bg-color);
        padding: 12px 50px;
        color: var(--text-color-bright);
        font-size: 0.95rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            color: inherit;
            font-weight: 300;
        }
        
        ul {
            display: flex;
            align-items: center;
            gap: 15px;
        }
    }
    
    nav {
        padding: 0 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav-icons {
            display: flex;
            gap: 30px;

            .nav-icon {
                button {
                    border: 0;
                    background-color: transparent;
                    font-size: 1.25rem;
                    cursor: pointer;
                    position: relative;
                    
                    .icon-badge {
                        font-size: 0.8rem;
                        background-color: var(--badge-bg-color);
                        color: var(--badge-text-color);
                        padding: 5px 10px;
                        border-radius: 40px;
                        display: flex;
                        position: absolute;
                        top: -20px;
                        right: -20px;
                        font-weight: 900;
                    }
                }
            }
        }

        .nav-menu {
            display: flex;
            gap: 100px;

            .menu-item {
                font-weight: 300;
                font-size: 1.25rem;
                position: relative;
                
                a {
                    color: var(--header-link-color);
                }

                &:hover {
                    transform: scale(1.03);

                    &::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        bottom: 0;
                        background-color: var(--header-link-hover-color);
                    }
                }

                &.current_page_item {

                    &::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        bottom: 0;
                        background-color: var(--zayshop);
                    }
                }
            }
        }

        .nav-burger {
            display: none;
            border: 0;
            background-color: transparent;
            cursor: pointer;
            background-color: var(--hamburger-bg-color);
            padding: 8px;
            border-radius: 5px;

            .bar {
                display: block;
                margin: 5px auto;
                width: 30px;
                height: 3px;
                background-color: var(--hamburger-bar-color);
            }
        }

        @media (max-width: 992px) {
            .nav-burger {
                display: block;
            }

            .nav-menu {
                display: none;

                &.active {
                    z-index: 999;
                    display: inline-block;
                    position: absolute;
                    top: 82px;
                    left: 0;
                    background-color: var(--header-mobile-bg-color);
                    width: 100%;
                    text-align: center;
                    font-family: 400;
                    
                    li {
                        margin: 20px auto;
                        width: fit-content;

                        a {
                            color: var(--text-color-bright)!important;
                            // color: #FBFBFB!important;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .top-bar {
            display: none;
        }

        nav {
            padding: 0 25px;
        }
    }
}

.custom-logo {
    width: 80px;
    height: auto;
}

#search-bar {
    display: none;
    position: absolute;
    z-index: 2;
    right: 50%;
    bottom: 0px;
    transform: translate(50%, 50%);
    
    input {
        padding: 10px;
        border: 1px solid var(--border-color);
        width: 50vw;
        border-radius: 20px;
    }
}

#cart {
    display: none;
    position: absolute;
    z-index: 2;
    right: 0;
    border: 1px solid var(--border-color);
    padding: 2rem;
    background-color: white;
    width: 45%;
    border-radius: 0 0 6px 6px;

    .items {
        margin-top: 1rem;

        .item {
            display: grid;
            grid-template-columns: auto 1fr auto;
            gap: 10px;
            border: 1px solid var(--border-color);
            border-radius: 5px;
            padding: 1rem;

            .item-thumbnail {
                width: 75px;
                height: 75px;
                background-color: red;
            }

            .item-details {
                .item-name {
                    font-size: 1rem;
                    font-weight: 500;
                }
                
                .item-color {
                    font-size: 0.8rem;
                    color: gray;
                    font-weight: 300;
                }
                
                .item-price {
                    font-size: 0.9rem;
                    color: var(--zayshop);
                    font-weight: 400;
                }
            }

            .delete-btn {
                color: red;
                background-color: transparent;
                border: 0;
                height: min-content;
            }
        }
    }

    h4 {
        margin-top: 20px;
    }
    
    .fields {
        margin-top: 20px;
        margin-bottom: 20px;

        .field {
            display: flex;
            justify-content: space-between;
    
            &.total {
                margin-top: 10px;
                
                p {
                    font-weight: 900;
                }
            }
        }
    }

    .orderbtn {
        border-radius: 20px;
        border: 50px;
        color: white;
        background-color: var(--zayshop);
        padding: 6px 35px;
        float: right;
        cursor: pointer;

        i {
            padding-right: 0.4rem;
        }
    }
}