#shop {
    display: flex;
    padding: 50px 70px;

    .categories {
        width: 25%;
        padding-right: 20px;
        
        h2 {
            font-size: 1.6rem;
            font-weight: 300;
        }
        
        a {
            font-size: 1.3rem;
            font-weight: 300;
            margin-top: 15px;
            display: flex;
            justify-content: space-between;
            color: #373C44;
        }
    }

    .products {
        width: 75%;

        .top {
            display: flex;
            justify-content: space-between;

            input {
                width: 50%;
                height: 30px;
                padding: 10px;
                border: 1px solid #EAEAEA;
                border-radius: 5px;

                &::placeholder {
                    color: #373C44;
                }
            }

            .genders {
                font-size: 1.25rem;
                
                a {
                    color: #373C44;
                    font-weight: 300;
                }
            }
        }

        .nav-links {
            margin-top: 15px;
            float: right;

            .page-numbers {
                display: inline-block;
                box-shadow: 0 2px 4px 0 rgba($color: #000000, $alpha: 0.1);
                font-weight: 300;
                padding: 15px 20px;
                color: black;
                background-color: white;
                border: 1px solid #DFE1E2;
                
                &.current {
                    color: white;
                    background-color: #66BC7B;
                }
            }
        }
    }

    .products-grid {
        padding-top: 25px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax( 270px, 1fr ));
        // display: flex;
        // flex-wrap: wrap;
        gap: 10px;

        article {
            // flex: 0 1 auto;
            border: 1px solid #DFDEDD;
            box-shadow: 0 4px 10px 0 rgba($color: #000000, $alpha: 0.1);

            .img-box {
                width: 100%;
                height: 350px;
                background-position: top;
                background-size: cover;
                display: flex;
                overflow: hidden;

                &:hover {
                    & > .buttons {
                        transform: translateY(0%);
                    }
                }

                .buttons {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($color: #000000, $alpha: 0.3);
                    transform: translateY(-100%);
                    transition: 0.5s;

                    a {
                        display: inline-block;
                        background-color: #69BB7E;
                        padding: 12px;
                        border-radius: 4px;
    
                        i {
                            color: white;
                        }
                    }
                }
            }
            
            .details {
                padding: 1rem;
                display: block;
                border-top: 1px solid #DFDEDD;

                .stars {
                    justify-content: center;
                }

                .price {
                    text-align: center;
                }
            }
        }
    }
}