#single-product {
    .product {
        background-color: var(--single-shop-bg-color);
        padding: 50px;
        display: grid;
        grid-template-columns: 0.65fr 1fr;
        gap: 20px;

        .product-images {
            // width: clamp(400px, 40%, 600px);
            width: 100%;

            .img-box {
                width: 100%;
                aspect-ratio: 1 / 1;
                background-color: var(--single-shop-img-bg-color);
                border: 1px solid var(--border-color);
                border-radius: 4px;

                .current-image {
                    width: 100%;
                }
            }

            .galery {
                display: grid;
                grid-template-columns: auto 1fr auto;
                margin-top: 20px;
                
                .thumbnails {
                    overflow: hidden;
                    height: auto;
                    scroll-behavior: smooth;
                    max-height: 600px;

                    ul {
                        display: grid;
                        grid-auto-flow: column;
                        width: max-content;
                        height: max-content;
                        gap: 10px;

                        .thumbnail {
                            width: 125px;
                            height: 125px;
                            background-color: var(--single-shop-img-bg-color);
                            border: 1px solid var(--border-color);
                            border-radius: 4px;
    
                            button {
                                width: 100%;
                                height: 100%;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                    border-radius: 4px;
                                }
                            }
                        }
                    }
                }

                button {
                    padding: 0 10px;
                    background-color: transparent;
                    border: 0;
                    cursor: pointer;
                    font-size: 1.2rem;

                    &.btn-up, &.btn-down {
                        display: none;
                    }
                }
            }
        }

        .product-details {
            height: min-content;
            background-color: var(--single-shop-details-bg-color);
            border: 1px solid var(--border-color);
            border-radius: 4px;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .title {
                font-weight: 900;
            }

            p {
                line-height: 1.5rem;
            }
            

            .brand, .color {
                color: var(--single-shop-brand-color);
                font-weight: 500;
            }

            .product-title {
                font-size: 1.7rem;
                font-weight: 300;
            }

            .product-price {
                font-size: 1.25rem;
            }

            .product-rating-comments {
                display: flex;
                gap: 5px;
            }

            .product-colors, .product-brand {
                p {
                    display: inline-block;
                }
            }

            .product-parameters {
                display: flex;

                .product-sizes {
                    display: inline-block;

                    p, form {
                        display: inline-block;
                    }
    
                    input[type='radio'] {
                        display: none;
                        
                        & + label {
                            display: inline-block;
                            background-color: var(--zayshop);
                            color: var(--single-shop-button-text-color);
                            padding: 8px 10px;
                            border-radius: 5px;
                            cursor: pointer;
                        }
    
                        &:checked + label {
                            opacity: 0.9;
                        }
                    }
                }
    
                .product-quantity {
                    display: inline-block;
                    margin-left: 10px;

                    p, form {
                        display: inline-block;
                    }

                    input {
                        color: var(--single-shop-button-text-color);
                        padding: 8px 10px;
                        border-radius: 5px;
                        cursor: pointer;
                        border: 0;
                        
                        &[type='button'] {
                            background-color: var(--zayshop);
                        }
                        
                        &[type='number'] {
                            width: 60px;
                            background-color: var(--single-shop-qt-bg-color);
                        }
                    }
                }
            }
            
            .product-buttons {
                display: flex;
                gap: 20px;
    
                button {
                    flex: 1 1 50%;
                    border: 0;
                    padding: 15px 0;
                    cursor: pointer;
                    background-color: var(--zayshop);
                    border-radius: 5px;
                    color: var(--single-shop-button-text-color);
                    font-size: 1.2rem;
                }
            }
        }
    }

    .related-products {
        padding: 80px;
        padding-bottom: 10px;

        .products {
            padding-top: 25px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax( 200px, 1fr ));
            gap: 10px;
        }

        .dots {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin: 50px;

            .dot {
                border-radius: 50%;
                width: 12px;
                height: 12px;
                background-color: var(--single-shop-dot-color);

                &.active {
                    background-color: var(--single-shop-dot-active-color);
                }
            }
        }
    }

    @media (max-width: 992px) {
        .product {
            padding: 20px;
            grid-template-columns: 1fr;

            .product-images {
                .galery {
                    padding: 10px 40px;
                    grid-template-columns: 1fr;
                    grid-template-rows: auto 1fr auto;

                    .thumbnails {
                        ul {
                            grid-auto-flow: row;
                            width: 100%;

                            .thumbnail {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }

                    .btn-up, .btn-down {
                        display: block!important;
                        padding: 20px;
                    }
    
                    .btn-left, .btn-right {
                        display: none;
                    }
                }
            }

            .product-details {
                .product-parameters {
                    flex-direction: column;
                    gap: 15px;

                    .product-sizes, .product-quantity {
                        display: block;
                        text-align: center;

                        p, form {
                            display: block;
                            font-size: 1.2rem;
                        }
                    }
                }

                .product-buttons {
                    flex-direction: column;
                    gap: 10px;
                }
            }
        }
    }
}